<!DOCTYPE html>
<html>
<head>
</head>
<body>
<nav>
  <ul>
    <li><a href="/users/<%= session[:user_id] %>">Home</a></li>
    <li><a href="/properties/new">Post new listings</a></li>
    <li><a href="/users/<%= session[:user_id] %>/mybookings">My Bookings</a></li>
    <form action="/users/logout" method="post">
      <input type="submit" value="Logout">
    </form>
  </ul>
</nav>
<h1> My Bookings</h1>
<section>
  <% if @mybookings.count == 0 %>
      <h1 id="error">You have no bookings :(</h1>
      <% end %>
  <table border="1">
    <tr>
      <td>
        <h1>Property</h1>
      </td>
      <td>
        <h1>Location</h1>
      </td>
      <td>
        <h1>Booked for</h1>
      </td>
      <td>
        <h1>Listed by</h1>
      </td>
      <td>
        <h1>Your message</h1>
      </td>
      <td>
        <h1>Action</h1>
      </td>
    </tr>
    <% @mybookings.each do |p|%>
        <tr>
          <td>
            <p><%= Property.find(p.property_id).name %></p>
          </td>
          <td>
            <p><%= Property.find(p.property_id).name %></p>
          </td>
          <td>
            <p><%= p.date %></p>
          </td>
          <td>
            <p><%= User.find(Property.find(p.property_id).user_id).username %></p>
          </td>
          <td>
            <p><%=p.message%></p>
          </td>
          <td>
            <ul>
              <li><a href="/properties/<%= p.property_id %>">View Property</a></li>
              <li><a href="/users/<%=session[:user_id]%>/property/<%= p.property_id %>/bookings/<%=p.id%>/edit">Edit</a></li>
            </ul>
          </td>
        </tr>
    <% end %>

  </table>
</section>
</body>

</html>


