<h1>This is edit property</h1>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<nav>
  <ul>
    <li><a href="/users/<%= session[:user_id] %>">Home</a></li>
    <li><a href="/properties/new">Post new listings</a></li>
    <li><a href="/bookings/show">My Bookings</a></li>
  </ul>
</nav>
<section>
  <form action="/properties/<%= params[:id] %>" method="post">
    <div>
      <label>Property:</label>
      <input type="text" name="name" placeholder="Edit your property name" value="<%= Property.find(params[:id]).name %>"></input>
    </div>
    <div>
      <label>Location :</label>
      <input type="text" name="location" placeholder="Edit your location" value="<%= Property.find(params[:id]).location %>"/>
    </div>
    <div>
      <label>Availability: </label>
      <input type="text" name="availability" placeholder="Edit availability (O/X)" value="<%= Property.find(params[:id]).availability  %>" />
    </div>
    <input type="submit" name="decision" value="edit">
    <input type="submit" name="decision" value="delete">
  </form>
</section>
